<h1>Listing complaints</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Description</th>
      <th>picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.subject %></td>
        <td><%= complaint.description %></td>
        <td><%= image_tag(complaint.picture_url, :width => 600) if complaint.picture.present? %></td>
        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_complaint_path %>
